node-red-data/.flows.json.backup
[{"id":"cc532e65.c7b7a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8b5f2705.5e97a8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"652e38ef.a8e868","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"189107b5.93e138","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"7f1f64ca.64e55c","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"bc7a884c.1a78a8","type":"tab","label":"Box Plot Chart Highcharts","disabled":false,"info":""},{"id":"d9b01dc.ec573e","type":"obniz","obnizId":"8664-6349","deviceType":"obnizboard","name":"Obniz","accessToken":"Ug7xxFb_CcqsY3rLcwkg3koaXv9USYeXhBZz2xQeGwxjQwpwrOQK7A57D68yERo9","code":"const getUuid = function (uuid) {\r\n    return `0 C4C${uuid}-7700-46F4-AA96D5E974E32A54`\r\n}\r\nconst signedNumberFromBinary = function(data) {\r\n  // little adian\r\n  let val = data[data.length - 1] & 0x7f;\r\n  for (let i = data.length - 2; i >= 0; i--) {\r\n      val = val * 256 + data[i];\r\n  }\r\n  if ((data[data.length - 1] & 0x80) !== 0) {\r\n      val = val - Math.pow(2, data.length * 8 - 1);\r\n  }\r\n  return val;\r\n}\r\nconst unsignedNumberFromBinary = function(data) {\r\n  // little adian\r\n  let val = data[data.length - 1];\r\n  for (let i = data.length - 2; i >= 0; i--) {\r\n      val = val * 256 + data[i];\r\n  }\r\n  return val;\r\n}\r\nobnizParts.getData = (data) => {\r\n    return {\r\n      row_number: data[0],\r\n      temperature: signedNumberFromBinary(data.slice(1, 3)) * 0.01,\r\n      relative_humidity: signedNumberFromBinary(data.slice(3, 5)) * 0.01,\r\n      light: signedNumberFromBinary(data.slice(5, 7)) * 1,\r\n      uv_index: signedNumberFromBinary(data.slice(7, 9)) * 0.01,\r\n      barometric_pressure: signedNumberFromBinary(data.slice(9, 11)) * 0.1,\r\n      soud_noise: signedNumberFromBinary(data.slice(11, 13)) * 0.01,\r\n      discomfort_index: signedNumberFromBinary(data.slice(13, 15)) * 0.01,\r\n      heatstroke_risk_factor: signedNumberFromBinary(data.slice(15, 17)) * 0.01,\r\n      battery_voltage: unsignedNumberFromBinary(data.slice(17, 19)) * 0.001\r\n    }\r\n}\r\nlet peripheral_125 = null\r\nlet peripheral_124 = null\r\nobniz.ble.scan.onfind = async function (peripheral) {\r\n        if (peripheral.localName != null && peripheral.localName == \"EP\") {\r\n           if (!peripheral_125 && peripheral.address == \"cc17986cbe46\") {\r\n               peripheral_125 = peripheral\r\n           } else if (!peripheral_124 && peripheral.address == \"d1f641576ee7\") {\r\n               peripheral_124 = peripheral\r\n           }\r\n        }\r\n    \r\n};\r\n\r\nawait obniz.ble.initWait();\r\nawait obniz.ble.scan.startWait();\r\nsetInterval( async ()=> {\r\n    if (!peripheral_125 || !peripheral_124) {\r\n        await obniz.ble.scan.startWait();\r\n    }\r\n    if(peripheral_125) {\r\n        if (!peripheral_125.connected) {\r\n            await peripheral_125.connectWait();\r\n        }\r\n        var service = peripheral_125.getService(getUuid('3000'));\r\n        var char = service.getCharacteristic(getUuid('3001'));\r\n        await char.registerNotifyWait((data) => {\r\n            let ts = new Date().getTime()\r\n            data.push(ts)\r\n            obnizParts.result_125 = data\r\n        });\r\n    }\r\n    if(peripheral_124) {\r\n        if (!peripheral_124.connected) {\r\n            await peripheral_124.connectWait();\r\n        }\r\n        var service = peripheral_124.getService(getUuid('3000'));\r\n        var char = service.getCharacteristic(getUuid('3001'));\r\n        await char.registerNotifyWait((data) => {\r\n            let ts = new Date().getTime()\r\n            data.push(ts)\r\n            obnizParts.result_124 = data\r\n            \r\n        });\r\n    }\r\n}, 1000)\r\n\r\n"},{"id":"5c372d8b.9674f4","type":"obniz","obnizId":"8664-6349","deviceType":"obnizboard","name":"xxxxx","accessToken":"xxxxx","code":"obnizParts.peripheralTarget = null\r\nobnizParts.getUuid = function (uuid) {\r\n    return `0C4C${uuid}-7700-46F4-AA96D5E974E32A54`\r\n}\r\nobniz.ble.scan.onfind = async function (peripheral) {\r\n    if (peripheral.localName != null && peripheral.localName == \"EP\") {\r\n      obnizParts.peripheralTarget = peripheral\r\n      obnizParts.peripheralTarget.localName = \"IM\"\r\n    }\r\n};\r\nawait obniz.ble.initWait();\r\n// await obniz.ble.scan.startWait();\r\nconst Device = obnizParts.device(\"2JCIE\")\r\nsetInterval(\r\n    async function (){\r\n        try {\r\n            await obniz.ble.scan.startWait();\r\n        }\r\n        catch(err) {\r\n            obnizParts.peripheralTarget = null\r\n        }\r\n        if (obnizParts.peripheralTarget != null && Device.isDevice(obnizParts.peripheralTarget)) {\r\n            obnizParts.result = await Device.getData(obnizParts.peripheralTarget)\r\n            obnizParts.peripheralTarget = null\r\n        }\r\n    }, \r\n    60000);"},{"id":"33d39b06.a8e504","type":"firebaseCertificate","firebaseurl":"uhuru-iot-4134a-default-rtdb","loginType":"none"},{"id":"80450f8d.20a2c","type":"firebaseCertificate","firebaseurl":"uhuru-iot-9a97e-default-rtdb","loginType":"none"},{"id":"24829b8c.b88654","type":"firebase config","firebaseurl":"","loginType":"email"},{"id":"6df2d980.18f628","type":"firebaseCertificate","firebaseurl":"uhuru-iot-70e2d-default-rtdb","loginType":"none"},{"id":"3e200c41.6b68b4","type":"firebaseCertificate","firebaseurl":"omronlinecharttemperature-default-rtdb","loginType":"none"},{"id":"b50d2cf2.8a45b","type":"firebaseCertificate","firebaseurl":"pareto-chart-highcharts-default-rtdb","loginType":"none"},{"id":"279cd4f9.fdf38c","type":"firebaseCertificate","firebaseurl":"pareto-chart-highcharts-default-rtdb","loginType":"none"},{"id":"7d3790e2.a78da","type":"firebaseCertificate","firebaseurl":"histgramhighcharts-default-rtdb","loginType":"none"},{"id":"be3f44b3.2b1ea8","type":"firebaseCertificate","firebaseurl":"box-plot-chart-highcharts-default-rtdb","loginType":"none"},{"id":"75e22965.723de8","type":"obniz-function","z":"cc532e65.c7b7a","obniz":"5c372d8b.9674f4","name":"","code":"\r\n\r\nmsg.payload = obnizParts.result\r\nreturn msg","x":680,"y":2140,"wires":[[]]},{"id":"456e9224.96648c","type":"inject","z":"cc532e65.c7b7a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":2120,"wires":[["75e22965.723de8"]]},{"id":"dea27e67.cb133","type":"addFirebase","z":"cc532e65.c7b7a","firebaseCertificate":"b50d2cf2.8a45b","client_email":"","private_key":"","data":"","childpath":"/","propertyType":"str","method":"get","newchildpath":"","x":690,"y":420,"wires":[[]]},{"id":"5c4e07d9.7c6a98","type":"addFirebase","z":"cc532e65.c7b7a","firebaseCertificate":"279cd4f9.fdf38c","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"push","newchildpath":"","x":470,"y":420,"wires":[["dea27e67.cb133"]]},{"id":"869ac8aa.5315b8","type":"obniz-repeat","z":"cc532e65.c7b7a","obniz":"5c372d8b.9674f4","name":"Obniz","interval":"60000","code":"\r\nmsg.payload =  {\r\n    result_125: obnizParts.result_125 != undefined ?\r\n        {\r\n            category: \"omron_125\",\r\n            ts: obnizParts.result_125[obnizParts.result_125.length - 1],\r\n            value: obnizParts.getData(obnizParts.result_125)\r\n        } : \r\n        null,\r\n    result_124: obnizParts.result_124 != undefined ? \r\n        {\r\n            category: \"omron_124\",\r\n            ts: obnizParts.result_124[obnizParts.result_124.length - 1],\r\n            value: obnizParts.getData(obnizParts.result_124)\r\n        } : \r\n        null\r\n}\r\n\r\nreturn msg","x":90,"y":280,"wires":[["9c845b14.a06a88","39611397.d5148c","2b0f6296.918c5e"]]},{"id":"abf1a834.2ca0f8","type":"addFirebase","z":"cc532e65.c7b7a","firebaseCertificate":"b50d2cf2.8a45b","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"push","newchildpath":"","x":630,"y":240,"wires":[[]]},{"id":"9c845b14.a06a88","type":"function","z":"cc532e65.c7b7a","name":"convert 124","func":"const data_124 = msg.payload.result_124\nmsg.payload = data_124 ? {\n    category: data_124.category,\n    ts: data_124.ts,\n    value: data_124.value.temperature\n} : null\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":380,"wires":[["5c4e07d9.7c6a98"]]},{"id":"2b0f6296.918c5e","type":"function","z":"cc532e65.c7b7a","name":"convert 125","func":"const data_125 = msg.payload.result_125\nmsg.payload = data_125 ? {\n    category: data_125.category,\n    ts: data_125.ts,\n    value: data_125.value.temperature\n} : null\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":240,"wires":[["abf1a834.2ca0f8"]]},{"id":"22861a88.a2f176","type":"function","z":"8b5f2705.5e97a8","name":"temperature","func":"const data_125 = msg.payload.temperature\nmsg.payload = data_125 ? {\n    category: data_125.category,\n    ts: data_125.ts,\n    value: data_125.value\n} : null\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":220,"wires":[["9ad81192.c3e1f"]]},{"id":"a15b1627.c6c4a8","type":"debug","z":"8b5f2705.5e97a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":120,"wires":[]},{"id":"d0400ebd.26cec","type":"obniz-repeat","z":"8b5f2705.5e97a8","obniz":"5c372d8b.9674f4","name":"Obniz","interval":"1000","code":"msg.payload = {\r\n  temperature:\r\n    obnizParts.result_125 != undefined\r\n      ? {\r\n          category: \"temperature\",\r\n          ts: obnizParts.result_125[obnizParts.result_125.length - 1],\r\n          value: obnizParts.getData(obnizParts.result_125).temperature,\r\n        }\r\n      : null,\r\n\r\n  relative_humidity:\r\n    obnizParts.result_125 != undefined\r\n      ? {\r\n          category: \"relative_humidity\",\r\n          ts: obnizParts.result_125[obnizParts.result_125.length - 1],\r\n          value: obnizParts.getData(obnizParts.result_125).relative_humidity,\r\n        }\r\n      : null,\r\n\r\n  light:\r\n    obnizParts.result_125 != undefined\r\n      ? {\r\n          category: \"light\",\r\n          ts: obnizParts.result_125[obnizParts.result_125.length - 1],\r\n          value: obnizParts.getData(obnizParts.result_125).light,\r\n        }\r\n      : null,\r\n\r\n  uv_index:\r\n    obnizParts.result_125 != undefined\r\n      ? {\r\n          category: \"uv_index\",\r\n          ts: obnizParts.result_125[obnizParts.result_125.length - 1],\r\n          value: obnizParts.getData(obnizParts.result_125).uv_index,\r\n        }\r\n      : null,\r\n\r\n  barometric_pressure:\r\n    obnizParts.result_125 != undefined\r\n      ? {\r\n          category: \"barometric_pressure\",\r\n          ts: obnizParts.result_125[obnizParts.result_125.length - 1],\r\n          value: obnizParts.getData(obnizParts.result_125).barometric_pressure,\r\n        }\r\n      : null,\r\n\r\n  soud_noise:\r\n    obnizParts.result_125 != undefined\r\n      ? {\r\n          category: \"soud_noise\",\r\n          ts: obnizParts.result_125[obnizParts.result_125.length - 1],\r\n          value: obnizParts.getData(obnizParts.result_125).soud_noise,\r\n        }\r\n      : null,\r\n  discomfort_index:\r\n    obnizParts.result_125 != undefined\r\n      ? {\r\n          category: \"discomfort_index\",\r\n          ts: obnizParts.result_125[obnizParts.result_125.length - 1],\r\n          value: obnizParts.getData(obnizParts.result_125).discomfort_index,\r\n        }\r\n      : null,\r\n\r\n  heatstroke_risk_factor:\r\n    obnizParts.result_125 != undefined\r\n      ? {\r\n          category: \"heatstroke_risk_factor\",\r\n          ts: obnizParts.result_125[obnizParts.result_125.length - 1],\r\n          value: obnizParts.getData(obnizParts.result_125)\r\n            .heatstroke_risk_factor,\r\n        }\r\n      : null,\r\n};\r\n\r\nreturn msg;\r\n","x":50,"y":440,"wires":[["a15b1627.c6c4a8","22861a88.a2f176","9a8939c4.f6a658","877ca4ec.ccb2c8","d1d7121b.d0e31","3a25bd30.6cb6b2","83aab4ff.abcab8","b4bcc0d.5608c4","3dbc4a92.f7b1f6"]]},{"id":"9a8939c4.f6a658","type":"function","z":"8b5f2705.5e97a8","name":"relative_humidity","func":"const data_125 = msg.payload.relative_humidity\nmsg.payload = data_125 ? {\n    category: \"humidity\",\n    ts: data_125.ts,\n    value: data_125.value\n} : null\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":300,"wires":[["6b4c1d4d.945764"]]},{"id":"877ca4ec.ccb2c8","type":"function","z":"8b5f2705.5e97a8","name":"light","func":"const data_125 = msg.payload.light\nmsg.payload = data_125 ? {\n    category: data_125.category,\n    ts: data_125.ts,\n    value: data_125.value\n} : null\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":380,"wires":[[]]},{"id":"d1d7121b.d0e31","type":"function","z":"8b5f2705.5e97a8","name":"uv_index","func":"const data_125 = msg.payload.relative_humidity\nmsg.payload = data_125 ? {\n    category: data_125.category,\n    ts: data_125.ts,\n    value: data_125.value\n} : null\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":440,"wires":[[]]},{"id":"3a25bd30.6cb6b2","type":"function","z":"8b5f2705.5e97a8","name":"barometric_pressure","func":"const data_125 = msg.payload.barometric_pressure\nmsg.payload = data_125 ? {\n    category: data_125.category,\n    ts: data_125.ts,\n    value: data_125.value\n} : null\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":520,"wires":[[]]},{"id":"83aab4ff.abcab8","type":"function","z":"8b5f2705.5e97a8","name":"soud_noise","func":"const data_125 = msg.payload.soud_noise\nmsg.payload = data_125 ? {\n    category: data_125.category,\n    ts: data_125.ts,\n    value: data_125.value\n} : null\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":600,"wires":[[]]},{"id":"b4bcc0d.5608c4","type":"function","z":"8b5f2705.5e97a8","name":"discomfort_index","func":"const data_125 = msg.payload.discomfort_index\nmsg.payload = data_125 ? {\n    category: data_125.category,\n    ts: data_125.ts,\n    value: data_125.value\n} : null\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":660,"wires":[[]]},{"id":"3dbc4a92.f7b1f6","type":"function","z":"8b5f2705.5e97a8","name":"heatstroke_risk_factor","func":"const data_125 = msg.payload.heatstroke_risk_factor\nmsg.payload = data_125 ? {\n    category: data_125.category,\n    ts: data_125.ts,\n    value: data_125.value\n} : null\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":740,"wires":[[]]},{"id":"9ad81192.c3e1f","type":"addFirebase","z":"8b5f2705.5e97a8","firebaseCertificate":"80450f8d.20a2c","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"push","newchildpath":"","x":1090,"y":220,"wires":[[]]},{"id":"6b4c1d4d.945764","type":"addFirebase","z":"8b5f2705.5e97a8","firebaseCertificate":"80450f8d.20a2c","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"push","newchildpath":"","x":1090,"y":300,"wires":[[]]},{"id":"fa48cf5.6a7a43","type":"addFirebase","z":"8b5f2705.5e97a8","firebaseCertificate":"80450f8d.20a2c","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"push","newchildpath":"","x":1090,"y":380,"wires":[[]]},{"id":"b03e3c4d.7674f","type":"addFirebase","z":"8b5f2705.5e97a8","firebaseCertificate":"80450f8d.20a2c","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"push","newchildpath":"","x":1090,"y":440,"wires":[[]]},{"id":"ab61e82a.4aacf8","type":"addFirebase","z":"8b5f2705.5e97a8","firebaseCertificate":"80450f8d.20a2c","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"push","newchildpath":"","x":1090,"y":520,"wires":[[]]},{"id":"20080277.8faf1e","type":"addFirebase","z":"8b5f2705.5e97a8","firebaseCertificate":"80450f8d.20a2c","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"push","newchildpath":"","x":1090,"y":600,"wires":[[]]},{"id":"5f00cba9.73c7c4","type":"addFirebase","z":"8b5f2705.5e97a8","firebaseCertificate":"80450f8d.20a2c","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"push","newchildpath":"","x":1090,"y":660,"wires":[[]]},{"id":"f412eb0.4309018","type":"addFirebase","z":"8b5f2705.5e97a8","firebaseCertificate":"80450f8d.20a2c","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"push","newchildpath":"","x":1090,"y":740,"wires":[[]]},{"id":"57eb89a.aee6e78","type":"debug","z":"cc532e65.c7b7a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":420,"wires":[]},{"id":"39611397.d5148c","type":"debug","z":"cc532e65.c7b7a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":190,"y":500,"wires":[]},{"id":"f6b5248c.c06a68","type":"function","z":"652e38ef.a8e868","name":"temperature","func":"const data_125 = msg.payload.temperature\nmsg.payload = data_125 ? {\n    DeviceName: data_125.category,\n    Place: data_125.category,\n    ts: data_125.ts,\n    temperature: data_125.value\n} : null\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":180,"wires":[["23d3d02b.017c08"]]},{"id":"380f2b5d.fee0a4","type":"debug","z":"652e38ef.a8e868","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":80,"wires":[]},{"id":"68cae0ac.599a18","type":"obniz-repeat","z":"652e38ef.a8e868","obniz":"5c372d8b.9674f4","name":"Obniz","interval":"1000","code":"msg.payload = {\r\n  temperature:\r\n    obnizParts.result_125 != undefined\r\n      ? {\r\n          category: \"temperature\",\r\n          ts: obnizParts.result_125[obnizParts.result_125.length - 1],\r\n          value: obnizParts.getData(obnizParts.result_125).temperature,\r\n        }\r\n      : null,\r\n\r\n  relative_humidity:\r\n    obnizParts.result_125 != undefined\r\n      ? {\r\n          category: \"relative_humidity\",\r\n          ts: obnizParts.result_125[obnizParts.result_125.length - 1],\r\n          value: obnizParts.getData(obnizParts.result_125).relative_humidity,\r\n        }\r\n      : null,\r\n\r\n  light:\r\n    obnizParts.result_125 != undefined\r\n      ? {\r\n          category: \"light\",\r\n          ts: obnizParts.result_125[obnizParts.result_125.length - 1],\r\n          value: obnizParts.getData(obnizParts.result_125).light,\r\n        }\r\n      : null,\r\n\r\n  uv_index:\r\n    obnizParts.result_125 != undefined\r\n      ? {\r\n          category: \"uv_index\",\r\n          ts: obnizParts.result_125[obnizParts.result_125.length - 1],\r\n          value: obnizParts.getData(obnizParts.result_125).uv_index,\r\n        }\r\n      : null,\r\n\r\n  barometric_pressure:\r\n    obnizParts.result_125 != undefined\r\n      ? {\r\n          category: \"barometric_pressure\",\r\n          ts: obnizParts.result_125[obnizParts.result_125.length - 1],\r\n          value: obnizParts.getData(obnizParts.result_125).barometric_pressure,\r\n        }\r\n      : null,\r\n\r\n  soud_noise:\r\n    obnizParts.result_125 != undefined\r\n      ? {\r\n          category: \"soud_noise\",\r\n          ts: obnizParts.result_125[obnizParts.result_125.length - 1],\r\n          value: obnizParts.getData(obnizParts.result_125).soud_noise,\r\n        }\r\n      : null,\r\n  discomfort_index:\r\n    obnizParts.result_125 != undefined\r\n      ? {\r\n          category: \"discomfort_index\",\r\n          ts: obnizParts.result_125[obnizParts.result_125.length - 1],\r\n          value: obnizParts.getData(obnizParts.result_125).discomfort_index,\r\n        }\r\n      : null,\r\n\r\n  heatstroke_risk_factor:\r\n    obnizParts.result_125 != undefined\r\n      ? {\r\n          category: \"heatstroke_risk_factor\",\r\n          ts: obnizParts.result_125[obnizParts.result_125.length - 1],\r\n          value: obnizParts.getData(obnizParts.result_125)\r\n            .heatstroke_risk_factor,\r\n        }\r\n      : null,\r\n};\r\n\r\nreturn msg;\r\n","x":110,"y":380,"wires":[["380f2b5d.fee0a4","f6b5248c.c06a68","5ffe139e.1a260c","2db6fd0d.f6fcba","9ef0e0cd.faa778","db808c4a.c20318","858df7d3.f89768","cf07abcc.98079","2a32fee8.a259c2"]]},{"id":"5ffe139e.1a260c","type":"function","z":"652e38ef.a8e868","name":"light","func":"const data_125 = msg.payload.light\nmsg.payload = data_125 ? {\n    DeviceName: data_125.category,\n    Place: data_125.category,\n    ts: data_125.ts,\n    light: data_125.value\n} : null\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":340,"wires":[["a0ca8660.5ba118"]]},{"id":"2db6fd0d.f6fcba","type":"function","z":"652e38ef.a8e868","name":"uv_index","func":"const data_125 = msg.payload.uv_index\nmsg.payload = data_125 ? {\n    DeviceName: data_125.category,\n    Place: data_125.category,\n    ts: data_125.ts,\n    uv_index: data_125.value\n} : null\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":400,"wires":[["912ceb64.bf2df"]]},{"id":"9ef0e0cd.faa778","type":"function","z":"652e38ef.a8e868","name":"barometric_pressure","func":"const data_125 = msg.payload.barometric_pressure\nmsg.payload = data_125 ? {\n    category: data_125.category,\n    ts: data_125.ts,\n    value: data_125.value\n} : null\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":480,"wires":[[]]},{"id":"db808c4a.c20318","type":"function","z":"652e38ef.a8e868","name":"soud_noise","func":"const data_125 = msg.payload.soud_noise\nmsg.payload = data_125 ? {\n    category: data_125.category,\n    ts: data_125.ts,\n    value: data_125.value\n} : null\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":560,"wires":[[]]},{"id":"858df7d3.f89768","type":"function","z":"652e38ef.a8e868","name":"discomfort_index","func":"const data_125 = msg.payload.discomfort_index\nmsg.payload = data_125 ? {\n    category: data_125.category,\n    ts: data_125.ts,\n    value: data_125.value\n} : null\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":620,"wires":[[]]},{"id":"cf07abcc.98079","type":"function","z":"652e38ef.a8e868","name":"heatstroke_risk_factor","func":"const data_125 = msg.payload.heatstroke_risk_factor\nmsg.payload = data_125 ? {\n    category: data_125.category,\n    ts: data_125.ts,\n    value: data_125.value\n} : null\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":700,"wires":[[]]},{"id":"23d3d02b.017c08","type":"addFirebase","z":"652e38ef.a8e868","firebaseCertificate":"80450f8d.20a2c","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"push","newchildpath":"","x":1150,"y":180,"wires":[[]]},{"id":"a837d34f.9b6d3","type":"addFirebase","z":"652e38ef.a8e868","firebaseCertificate":"80450f8d.20a2c","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"push","newchildpath":"","x":1150,"y":260,"wires":[[]]},{"id":"a0ca8660.5ba118","type":"addFirebase","z":"652e38ef.a8e868","firebaseCertificate":"80450f8d.20a2c","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"push","newchildpath":"","x":1150,"y":340,"wires":[[]]},{"id":"912ceb64.bf2df","type":"addFirebase","z":"652e38ef.a8e868","firebaseCertificate":"80450f8d.20a2c","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"push","newchildpath":"","x":1150,"y":400,"wires":[[]]},{"id":"21567f51.dbdbb","type":"addFirebase","z":"652e38ef.a8e868","firebaseCertificate":"80450f8d.20a2c","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"push","newchildpath":"","x":1150,"y":480,"wires":[[]]},{"id":"df0983aa.136988","type":"addFirebase","z":"652e38ef.a8e868","firebaseCertificate":"80450f8d.20a2c","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"push","newchildpath":"","x":1150,"y":560,"wires":[[]]},{"id":"64980025.d6245","type":"addFirebase","z":"652e38ef.a8e868","firebaseCertificate":"80450f8d.20a2c","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"push","newchildpath":"","x":1150,"y":620,"wires":[[]]},{"id":"fa302e02.516968","type":"addFirebase","z":"652e38ef.a8e868","firebaseCertificate":"80450f8d.20a2c","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"push","newchildpath":"","x":1150,"y":700,"wires":[[]]},{"id":"2a32fee8.a259c2","type":"function","z":"652e38ef.a8e868","name":"relative_humidity","func":"const data_125 = msg.payload.relative_humidity\nmsg.payload = data_125 ? {\n    DeviceName: data_125.category,\n    Place: data_125.category,\n    ts: data_125.ts,\n    humidity: data_125.value\n} : null\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":260,"wires":[["a837d34f.9b6d3"]]},{"id":"42a0b88c.da7938","type":"inject","z":"189107b5.93e138","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":500,"y":280,"wires":[["641b6e79.4f86f","c09a668c.befde8","618be724.23c778","a12d302.ac15bd","61eec900.372568","4655b371.25c13c","fb9e8fb8.50316","635b1bbd.bd9834","6398dd35.d90324","344b0ce6.3703f4","d4193f07.c1712","6c507918.982548","d22b62d4.f2c68","45cc5bf8.287204","8713ee22.6225d","90a44ca5.668c2","347b5194.97f9fe","2ce5ee34.565da2","27b82589.f9701a","1cbc3830.a73028","db2f6dc0.7bac5","e3b1c448.6232e8","aaf3ad25.2f3e","c9cb6b01.488258","70510627.639248","5cb1bbca.fa62b4","e2d4859c.858798","db61c2ca.2de56","4a5a00e8.945cb","fb7c9ad4.92a448","e80c6214.1a34d","81b7376d.abe118","ba881328.611ae","b5862268.54c65","a1c0345e.f84d98","9b8e351f.f4c408","b0e36515.aa0f38","83e71d51.90ca6","fc4da7a.71b2558","4d453783.802838","e2074d41.2afc8","3454e536.f93bea","949d0286.08e6a","e53ae28c.01701","e7b8e92c.56aaa8","410d4487.dd8f6c","65f4d187.1c69f","9551e563.bb7218","e625502.12fb3b","4738c2a.c4e353c","769c42d8.bed6fc","779f0318.a2d09c","9a2872c1.d7e67","8c8cf0c2.eb62d","a50e3b67.b055e8","61340e92.0c6fa","5bee0940.4ccf88","ed8d61ae.c1699","c5599ce6.b0055","136d8a78.5f5936","4674e321.3ac86c","3e6650d7.bfbfe","40aa3472.30cccc","dd7daad2.4cb088","5d3e0f17.fc5b7","1f978340.89360d","b037e9e5.8c5148","5b19abea.1813e4","9b473c6.2ad41c","8b7e73b4.1b872","4d3e85a0.9c4acc","cb97841b.e28a78","23451f4c.b5763","e8108c01.9cb5d","7ebdef6c.51757","5cc7e795.78d778","15d84670.2ee72a","b52b01f8.b3de1","ba895c35.3a0e8"]]},{"id":"ffbb0e6.1f187f","type":"debug","z":"189107b5.93e138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2050,"y":240,"wires":[]},{"id":"641b6e79.4f86f","type":"function","z":"189107b5.93e138","name":"3.0","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 3.0,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":160,"wires":[["69b98831.3cc658"]]},{"id":"69b98831.3cc658","type":"addFirebase","z":"189107b5.93e138","firebaseCertificate":"7d3790e2.a78da","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"push","newchildpath":"","x":1530,"y":280,"wires":[["7ecf8c01.3a0e14","ffbb0e6.1f187f","7597b2d6.c1b0ec"]]},{"id":"7ecf8c01.3a0e14","type":"addFirebase","z":"189107b5.93e138","firebaseCertificate":"7d3790e2.a78da","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"get","newchildpath":"","x":1770,"y":260,"wires":[["ffbb0e6.1f187f"]]},{"id":"c09a668c.befde8","type":"function","z":"189107b5.93e138","name":"3.3","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 3.3,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":200,"wires":[["69b98831.3cc658"]]},{"id":"618be724.23c778","type":"function","z":"189107b5.93e138","name":"3.6","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 3.6,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":240,"wires":[["69b98831.3cc658"]]},{"id":"a12d302.ac15bd","type":"function","z":"189107b5.93e138","name":"3.9","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 3.9,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":280,"wires":[["69b98831.3cc658"]]},{"id":"61eec900.372568","type":"function","z":"189107b5.93e138","name":"1.0","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 1.0,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":320,"wires":[["69b98831.3cc658"]]},{"id":"4655b371.25c13c","type":"function","z":"189107b5.93e138","name":"1.2","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 1.2,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":360,"wires":[["69b98831.3cc658"]]},{"id":"fb9e8fb8.50316","type":"function","z":"189107b5.93e138","name":"1.5","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 1.5,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":400,"wires":[["69b98831.3cc658"]]},{"id":"635b1bbd.bd9834","type":"function","z":"189107b5.93e138","name":"1.6","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 1.6,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":440,"wires":[["69b98831.3cc658"]]},{"id":"6398dd35.d90324","type":"function","z":"189107b5.93e138","name":"2.2","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 2.2,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":480,"wires":[["69b98831.3cc658"]]},{"id":"344b0ce6.3703f4","type":"function","z":"189107b5.93e138","name":"2.3","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 2.3,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":520,"wires":[["69b98831.3cc658"]]},{"id":"d4193f07.c1712","type":"function","z":"189107b5.93e138","name":"2.4","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 2.4,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":560,"wires":[["69b98831.3cc658"]]},{"id":"6c507918.982548","type":"function","z":"189107b5.93e138","name":"2.7","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 2.7,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":600,"wires":[["69b98831.3cc658"]]},{"id":"d22b62d4.f2c68","type":"function","z":"189107b5.93e138","name":"4.1","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 4.1,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":640,"wires":[["69b98831.3cc658"]]},{"id":"45cc5bf8.287204","type":"function","z":"189107b5.93e138","name":"4.4","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 4.4,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":680,"wires":[["69b98831.3cc658"]]},{"id":"8713ee22.6225d","type":"function","z":"189107b5.93e138","name":"4.8","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 4.8,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":720,"wires":[["69b98831.3cc658"]]},{"id":"90a44ca5.668c2","type":"function","z":"189107b5.93e138","name":"4.9","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 4.9,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":760,"wires":[["69b98831.3cc658"]]},{"id":"347b5194.97f9fe","type":"function","z":"189107b5.93e138","name":"3.0","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 3.0,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1390,"y":320,"wires":[["fae97b5e.08c858"]]},{"id":"fae97b5e.08c858","type":"addFirebase","z":"189107b5.93e138","firebaseCertificate":"7d3790e2.a78da","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"push","newchildpath":"","x":1730,"y":320,"wires":[["ffbb0e6.1f187f"]]},{"id":"2ce5ee34.565da2","type":"function","z":"189107b5.93e138","name":"3.3","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 3.3,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1390,"y":360,"wires":[["fae97b5e.08c858"]]},{"id":"27b82589.f9701a","type":"function","z":"189107b5.93e138","name":"3.6","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 3.6,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1390,"y":400,"wires":[["fae97b5e.08c858"]]},{"id":"1cbc3830.a73028","type":"function","z":"189107b5.93e138","name":"3.9","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 3.9,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1390,"y":440,"wires":[["fae97b5e.08c858"]]},{"id":"db2f6dc0.7bac5","type":"function","z":"189107b5.93e138","name":"1.0","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 1.0,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1390,"y":480,"wires":[["fae97b5e.08c858"]]},{"id":"e3b1c448.6232e8","type":"function","z":"189107b5.93e138","name":"1.2","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 1.2,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1390,"y":520,"wires":[["fae97b5e.08c858"]]},{"id":"aaf3ad25.2f3e","type":"function","z":"189107b5.93e138","name":"1.5","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 1.5,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1390,"y":560,"wires":[["fae97b5e.08c858"]]},{"id":"c9cb6b01.488258","type":"function","z":"189107b5.93e138","name":"1.6","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 1.6,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1390,"y":600,"wires":[["fae97b5e.08c858"]]},{"id":"70510627.639248","type":"function","z":"189107b5.93e138","name":"2.2","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 2.2,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1390,"y":640,"wires":[["fae97b5e.08c858"]]},{"id":"5cb1bbca.fa62b4","type":"function","z":"189107b5.93e138","name":"2.3","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 2.3,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1390,"y":680,"wires":[["fae97b5e.08c858"]]},{"id":"e2d4859c.858798","type":"function","z":"189107b5.93e138","name":"2.4","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 2.4,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1390,"y":720,"wires":[["fae97b5e.08c858"]]},{"id":"db61c2ca.2de56","type":"function","z":"189107b5.93e138","name":"2.7","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 2.7,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1390,"y":760,"wires":[["fae97b5e.08c858"]]},{"id":"4a5a00e8.945cb","type":"function","z":"189107b5.93e138","name":"4.1","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 4.1,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1390,"y":800,"wires":[["fae97b5e.08c858"]]},{"id":"fb7c9ad4.92a448","type":"function","z":"189107b5.93e138","name":"4.4","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 4.4,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1390,"y":840,"wires":[["fae97b5e.08c858"]]},{"id":"e80c6214.1a34d","type":"function","z":"189107b5.93e138","name":"4.8","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 4.8,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1390,"y":880,"wires":[["fae97b5e.08c858"]]},{"id":"81b7376d.abe118","type":"function","z":"189107b5.93e138","name":"4.9","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 4.9,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1390,"y":920,"wires":[["fae97b5e.08c858"]]},{"id":"ba881328.611ae","type":"function","z":"189107b5.93e138","name":"3.0","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 3.0,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":460,"wires":[["3b0b57b1.6a0538"]]},{"id":"3b0b57b1.6a0538","type":"addFirebase","z":"189107b5.93e138","firebaseCertificate":"7d3790e2.a78da","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"push","newchildpath":"","x":1770,"y":400,"wires":[["ffbb0e6.1f187f"]]},{"id":"b5862268.54c65","type":"function","z":"189107b5.93e138","name":"3.3","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 3.3,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":500,"wires":[["3b0b57b1.6a0538"]]},{"id":"a1c0345e.f84d98","type":"function","z":"189107b5.93e138","name":"3.6","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 3.6,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":540,"wires":[["3b0b57b1.6a0538"]]},{"id":"9b8e351f.f4c408","type":"function","z":"189107b5.93e138","name":"3.9","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 3.9,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":580,"wires":[["3b0b57b1.6a0538"]]},{"id":"b0e36515.aa0f38","type":"function","z":"189107b5.93e138","name":"1.0","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 1.0,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":620,"wires":[["3b0b57b1.6a0538"]]},{"id":"83e71d51.90ca6","type":"function","z":"189107b5.93e138","name":"1.2","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 1.2,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":660,"wires":[["3b0b57b1.6a0538"]]},{"id":"fc4da7a.71b2558","type":"function","z":"189107b5.93e138","name":"1.5","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 1.5,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":700,"wires":[["3b0b57b1.6a0538"]]},{"id":"4d453783.802838","type":"function","z":"189107b5.93e138","name":"1.6","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 1.6,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":740,"wires":[["3b0b57b1.6a0538"]]},{"id":"e2074d41.2afc8","type":"function","z":"189107b5.93e138","name":"2.2","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 2.2,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":780,"wires":[["3b0b57b1.6a0538"]]},{"id":"3454e536.f93bea","type":"function","z":"189107b5.93e138","name":"2.3","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 2.3,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":820,"wires":[["3b0b57b1.6a0538"]]},{"id":"949d0286.08e6a","type":"function","z":"189107b5.93e138","name":"2.4","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 2.4,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":860,"wires":[["3b0b57b1.6a0538"]]},{"id":"e53ae28c.01701","type":"function","z":"189107b5.93e138","name":"2.7","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 2.7,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":900,"wires":[["3b0b57b1.6a0538"]]},{"id":"e7b8e92c.56aaa8","type":"function","z":"189107b5.93e138","name":"4.1","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 4.1,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":940,"wires":[["3b0b57b1.6a0538"]]},{"id":"410d4487.dd8f6c","type":"function","z":"189107b5.93e138","name":"4.4","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 4.4,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":980,"wires":[["3b0b57b1.6a0538"]]},{"id":"65f4d187.1c69f","type":"function","z":"189107b5.93e138","name":"4.8","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 4.8,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":1020,"wires":[["3b0b57b1.6a0538"]]},{"id":"9551e563.bb7218","type":"function","z":"189107b5.93e138","name":"4.9","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 4.9,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":1060,"wires":[["3b0b57b1.6a0538"]]},{"id":"e625502.12fb3b","type":"function","z":"189107b5.93e138","name":"3.0","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 3.0,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":540,"wires":[["1ef57a17.4a02c6"]]},{"id":"1ef57a17.4a02c6","type":"addFirebase","z":"189107b5.93e138","firebaseCertificate":"7d3790e2.a78da","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"push","newchildpath":"","x":1810,"y":480,"wires":[["ffbb0e6.1f187f"]]},{"id":"4738c2a.c4e353c","type":"function","z":"189107b5.93e138","name":"3.3","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 3.3,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":580,"wires":[["1ef57a17.4a02c6"]]},{"id":"769c42d8.bed6fc","type":"function","z":"189107b5.93e138","name":"3.6","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 3.6,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":620,"wires":[["1ef57a17.4a02c6"]]},{"id":"8d0e0c00.36eab8","type":"function","z":"189107b5.93e138","name":"3.9","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 3.9,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":660,"wires":[["1ef57a17.4a02c6"]]},{"id":"779f0318.a2d09c","type":"function","z":"189107b5.93e138","name":"1.0","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 1.0,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":700,"wires":[["1ef57a17.4a02c6"]]},{"id":"9a2872c1.d7e67","type":"function","z":"189107b5.93e138","name":"1.2","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 1.2,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":740,"wires":[["1ef57a17.4a02c6"]]},{"id":"8c8cf0c2.eb62d","type":"function","z":"189107b5.93e138","name":"1.5","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 1.5,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":780,"wires":[["1ef57a17.4a02c6"]]},{"id":"a50e3b67.b055e8","type":"function","z":"189107b5.93e138","name":"1.6","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 1.6,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":820,"wires":[["1ef57a17.4a02c6"]]},{"id":"61340e92.0c6fa","type":"function","z":"189107b5.93e138","name":"2.2","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 2.2,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":860,"wires":[["1ef57a17.4a02c6"]]},{"id":"5bee0940.4ccf88","type":"function","z":"189107b5.93e138","name":"2.3","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 2.3,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":900,"wires":[["1ef57a17.4a02c6"]]},{"id":"ed8d61ae.c1699","type":"function","z":"189107b5.93e138","name":"2.4","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 2.4,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":940,"wires":[["1ef57a17.4a02c6"]]},{"id":"c5599ce6.b0055","type":"function","z":"189107b5.93e138","name":"2.7","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 2.7,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":980,"wires":[["1ef57a17.4a02c6"]]},{"id":"136d8a78.5f5936","type":"function","z":"189107b5.93e138","name":"4.1","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 4.1,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":1020,"wires":[["1ef57a17.4a02c6"]]},{"id":"4674e321.3ac86c","type":"function","z":"189107b5.93e138","name":"4.4","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 4.4,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":1060,"wires":[["1ef57a17.4a02c6"]]},{"id":"3e6650d7.bfbfe","type":"function","z":"189107b5.93e138","name":"4.8","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 4.8,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":1100,"wires":[["1ef57a17.4a02c6"]]},{"id":"40aa3472.30cccc","type":"function","z":"189107b5.93e138","name":"4.9","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 4.9,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":1140,"wires":[["1ef57a17.4a02c6"]]},{"id":"dd7daad2.4cb088","type":"function","z":"189107b5.93e138","name":"3.0","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 3.0,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":500,"wires":[["8143210.64bc3e"]]},{"id":"5d3e0f17.fc5b7","type":"function","z":"189107b5.93e138","name":"3.3","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 3.3,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":540,"wires":[["8143210.64bc3e"]]},{"id":"1f978340.89360d","type":"function","z":"189107b5.93e138","name":"3.6","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 3.6,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":580,"wires":[["8143210.64bc3e"]]},{"id":"b037e9e5.8c5148","type":"function","z":"189107b5.93e138","name":"3.9","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 3.9,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":620,"wires":[["8143210.64bc3e"]]},{"id":"5b19abea.1813e4","type":"function","z":"189107b5.93e138","name":"1.0","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 1.0,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":660,"wires":[["8143210.64bc3e"]]},{"id":"9b473c6.2ad41c","type":"function","z":"189107b5.93e138","name":"1.2","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 1.2,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":700,"wires":[["8143210.64bc3e"]]},{"id":"8b7e73b4.1b872","type":"function","z":"189107b5.93e138","name":"1.5","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 1.5,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":740,"wires":[["8143210.64bc3e"]]},{"id":"4d3e85a0.9c4acc","type":"function","z":"189107b5.93e138","name":"1.6","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 1.6,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":780,"wires":[["8143210.64bc3e"]]},{"id":"cb97841b.e28a78","type":"function","z":"189107b5.93e138","name":"2.2","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 2.2,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":820,"wires":[["8143210.64bc3e"]]},{"id":"23451f4c.b5763","type":"function","z":"189107b5.93e138","name":"2.3","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 2.3,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":860,"wires":[["8143210.64bc3e"]]},{"id":"e8108c01.9cb5d","type":"function","z":"189107b5.93e138","name":"2.4","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 2.4,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":900,"wires":[["8143210.64bc3e"]]},{"id":"7ebdef6c.51757","type":"function","z":"189107b5.93e138","name":"2.7","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 2.7,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":940,"wires":[["8143210.64bc3e"]]},{"id":"5cc7e795.78d778","type":"function","z":"189107b5.93e138","name":"4.1","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 4.1,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":980,"wires":[["8143210.64bc3e"]]},{"id":"15d84670.2ee72a","type":"function","z":"189107b5.93e138","name":"4.4","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 4.4,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":1020,"wires":[["8143210.64bc3e"]]},{"id":"b52b01f8.b3de1","type":"function","z":"189107b5.93e138","name":"4.8","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 4.8,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":1060,"wires":[["8143210.64bc3e"]]},{"id":"ba895c35.3a0e8","type":"function","z":"189107b5.93e138","name":"4.9","func":"const data_125 = msg.payload\nmsg.payload = {\n    \"value\": 4.9,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":1100,"wires":[["8143210.64bc3e"]]},{"id":"8143210.64bc3e","type":"addFirebase","z":"189107b5.93e138","firebaseCertificate":"7d3790e2.a78da","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"push","newchildpath":"","x":1650,"y":440,"wires":[["ffbb0e6.1f187f"]]},{"id":"7597b2d6.c1b0ec","type":"addFirebase","z":"189107b5.93e138","firebaseCertificate":"7d3790e2.a78da","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"get","newchildpath":"","x":1710,"y":160,"wires":[["982da835.d01ca8"]]},{"id":"982da835.d01ca8","type":"debug","z":"189107b5.93e138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1990,"y":140,"wires":[]},{"id":"db570d2.97546f","type":"inject","z":"7f1f64ca.64e55c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":360,"wires":[["56b31648.dbc2e8"]]},{"id":"56b31648.dbc2e8","type":"addFirebase","z":"7f1f64ca.64e55c","firebaseCertificate":"7d3790e2.a78da","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"remove","newchildpath":"","x":650,"y":380,"wires":[["a1d295f6.07eb58"]]},{"id":"a1d295f6.07eb58","type":"debug","z":"7f1f64ca.64e55c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":360,"wires":[]},{"id":"1ee08ca6.03cf03","type":"inject","z":"bc7a884c.1a78a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":560,"wires":[["3427fc.dbdee804"]]},{"id":"3427fc.dbdee804","type":"function","z":"bc7a884c.1a78a8","name":"Data","func":" const data_125 = msg.payload\nmsg.payload = {\n    \"Observations\": 60.3,\n    \"Experiment No.\": 1,\n    \"ts\": msg.payload\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":460,"wires":[["cc83a89.7b57758","cc6af3a5.b0443"]]},{"id":"cc6af3a5.b0443","type":"addFirebase","z":"bc7a884c.1a78a8","firebaseCertificate":"be3f44b3.2b1ea8","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"push","newchildpath":"","x":650,"y":480,"wires":[["84e6e291.ebbac","bc29494c.60d068"]]},{"id":"84e6e291.ebbac","type":"addFirebase","z":"bc7a884c.1a78a8","firebaseCertificate":"be3f44b3.2b1ea8","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"get","newchildpath":"","x":830,"y":660,"wires":[[]]},{"id":"cc83a89.7b57758","type":"debug","z":"bc7a884c.1a78a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":840,"wires":[]},{"id":"bc29494c.60d068","type":"debug","z":"bc7a884c.1a78a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":360,"wires":[]}]