node-red-data/.flows.json.backup
[{"id":"cc532e65.c7b7a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8b5f2705.5e97a8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"652e38ef.a8e868","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"d9b01dc.ec573e","type":"obniz","obnizId":"8664-6349","deviceType":"obnizboard","name":"Obniz","accessToken":"N8ORPwmQYSncWOQTKXLaZscXRRnAAZB1Nu_WvdeKi8SZ7PY1cqhwFLJy9P9wadLb","code":"const getUuid = function (uuid) {\r\n    return `0 C4C${uuid}-7700-46F4-AA96D5E974E32A54`\r\n}\r\nconst signedNumberFromBinary = function(data) {\r\n  // little adian\r\n  let val = data[data.length - 1] & 0x7f;\r\n  for (let i = data.length - 2; i >= 0; i--) {\r\n      val = val * 256 + data[i];\r\n  }\r\n  if ((data[data.length - 1] & 0x80) !== 0) {\r\n      val = val - Math.pow(2, data.length * 8 - 1);\r\n  }\r\n  return val;\r\n}\r\nconst unsignedNumberFromBinary = function(data) {\r\n  // little adian\r\n  let val = data[data.length - 1];\r\n  for (let i = data.length - 2; i >= 0; i--) {\r\n      val = val * 256 + data[i];\r\n  }\r\n  return val;\r\n}\r\nobnizParts.getData = (data) => {\r\n    return {\r\n      row_number: data[0],\r\n      temperature: signedNumberFromBinary(data.slice(1, 3)) * 0.01,\r\n      relative_humidity: signedNumberFromBinary(data.slice(3, 5)) * 0.01,\r\n      light: signedNumberFromBinary(data.slice(5, 7)) * 1,\r\n      uv_index: signedNumberFromBinary(data.slice(7, 9)) * 0.01,\r\n      barometric_pressure: signedNumberFromBinary(data.slice(9, 11)) * 0.1,\r\n      soud_noise: signedNumberFromBinary(data.slice(11, 13)) * 0.01,\r\n      discomfort_index: signedNumberFromBinary(data.slice(13, 15)) * 0.01,\r\n      heatstroke_risk_factor: signedNumberFromBinary(data.slice(15, 17)) * 0.01,\r\n      battery_voltage: unsignedNumberFromBinary(data.slice(17, 19)) * 0.001\r\n    }\r\n}\r\nlet peripheral_125 = null\r\nlet peripheral_124 = null\r\nobniz.ble.scan.onfind = async function (peripheral) {\r\n        if (peripheral.localName != null && peripheral.localName == \"EP\") {\r\n           if (!peripheral_125 && peripheral.address == \"cc17986cbe46\") {\r\n               peripheral_125 = peripheral\r\n           } else if (!peripheral_124 && peripheral.address == \"d1f641576ee7\") {\r\n               peripheral_124 = peripheral\r\n           }\r\n        }\r\n    \r\n};\r\n\r\nawait obniz.ble.initWait();\r\nawait obniz.ble.scan.startWait();\r\nsetInterval( async ()=> {\r\n    if (!peripheral_125 || !peripheral_124) {\r\n        await obniz.ble.scan.startWait();\r\n    }\r\n    if(peripheral_125) {\r\n        if (!peripheral_125.connected) {\r\n            await peripheral_125.connectWait();\r\n        }\r\n        var service = peripheral_125.getService(getUuid('3000'));\r\n        var char = service.getCharacteristic(getUuid('3001'));\r\n        await char.registerNotifyWait((data) => {\r\n            let ts = new Date().getTime()\r\n            data.push(ts)\r\n            obnizParts.result_125 = data\r\n        });\r\n    }\r\n    if(peripheral_124) {\r\n        if (!peripheral_124.connected) {\r\n            await peripheral_124.connectWait();\r\n        }\r\n        var service = peripheral_124.getService(getUuid('3000'));\r\n        var char = service.getCharacteristic(getUuid('3001'));\r\n        await char.registerNotifyWait((data) => {\r\n            let ts = new Date().getTime()\r\n            data.push(ts)\r\n            obnizParts.result_124 = data\r\n            \r\n        });\r\n    }\r\n}, 1000)\r\n\r\n"},{"id":"5c372d8b.9674f4","type":"obniz","obnizId":"8664-6349","deviceType":"obnizboard","name":"xxxxx","accessToken":"xxxxx","code":"obnizParts.peripheralTarget = null\r\nobnizParts.getUuid = function (uuid) {\r\n    return `0C4C${uuid}-7700-46F4-AA96D5E974E32A54`\r\n}\r\nobniz.ble.scan.onfind = async function (peripheral) {\r\n    if (peripheral.localName != null && peripheral.localName == \"EP\") {\r\n      obnizParts.peripheralTarget = peripheral\r\n      obnizParts.peripheralTarget.localName = \"IM\"\r\n    }\r\n};\r\nawait obniz.ble.initWait();\r\n// await obniz.ble.scan.startWait();\r\nconst Device = obnizParts.device(\"2JCIE\")\r\nsetInterval(\r\n    async function (){\r\n        try {\r\n            await obniz.ble.scan.startWait();\r\n        }\r\n        catch(err) {\r\n            obnizParts.peripheralTarget = null\r\n        }\r\n        if (obnizParts.peripheralTarget != null && Device.isDevice(obnizParts.peripheralTarget)) {\r\n            obnizParts.result = await Device.getData(obnizParts.peripheralTarget)\r\n            obnizParts.peripheralTarget = null\r\n        }\r\n    }, \r\n    60000);"},{"id":"33d39b06.a8e504","type":"firebaseCertificate","firebaseurl":"uhuru-iot-4134a-default-rtdb","loginType":"none"},{"id":"80450f8d.20a2c","type":"firebaseCertificate","firebaseurl":"uhuru-iot-9a97e-default-rtdb","loginType":"none"},{"id":"24829b8c.b88654","type":"firebase config","firebaseurl":"","loginType":"email"},{"id":"6df2d980.18f628","type":"firebaseCertificate","firebaseurl":"uhuru-iot-70e2d-default-rtdb","loginType":"none"},{"id":"3e200c41.6b68b4","type":"firebaseCertificate","firebaseurl":"omronlinecharttemperature-default-rtdb","loginType":"none"},{"id":"b50d2cf2.8a45b","type":"firebaseCertificate","firebaseurl":"pareto-chart-highcharts-default-rtdb","loginType":"none"},{"id":"279cd4f9.fdf38c","type":"firebaseCertificate","firebaseurl":"pareto-chart-highcharts-default-rtdb","loginType":"none"},{"id":"75e22965.723de8","type":"obniz-function","z":"cc532e65.c7b7a","obniz":"5c372d8b.9674f4","name":"","code":"\r\n\r\nmsg.payload = obnizParts.result\r\nreturn msg","x":680,"y":2140,"wires":[[]]},{"id":"456e9224.96648c","type":"inject","z":"cc532e65.c7b7a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":2120,"wires":[["75e22965.723de8"]]},{"id":"dea27e67.cb133","type":"addFirebase","z":"cc532e65.c7b7a","firebaseCertificate":"b50d2cf2.8a45b","client_email":"","private_key":"","data":"","childpath":"/","propertyType":"str","method":"get","newchildpath":"","x":690,"y":420,"wires":[[]]},{"id":"5c4e07d9.7c6a98","type":"addFirebase","z":"cc532e65.c7b7a","firebaseCertificate":"279cd4f9.fdf38c","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"push","newchildpath":"","x":470,"y":420,"wires":[["dea27e67.cb133"]]},{"id":"869ac8aa.5315b8","type":"obniz-repeat","z":"cc532e65.c7b7a","obniz":"5c372d8b.9674f4","name":"Obniz","interval":"60000","code":"\r\nmsg.payload =  {\r\n    result_125: obnizParts.result_125 != undefined ?\r\n        {\r\n            category: \"omron_125\",\r\n            ts: obnizParts.result_125[obnizParts.result_125.length - 1],\r\n            value: obnizParts.getData(obnizParts.result_125)\r\n        } : \r\n        null,\r\n    result_124: obnizParts.result_124 != undefined ? \r\n        {\r\n            category: \"omron_124\",\r\n            ts: obnizParts.result_124[obnizParts.result_124.length - 1],\r\n            value: obnizParts.getData(obnizParts.result_124)\r\n        } : \r\n        null\r\n}\r\n\r\nreturn msg","x":90,"y":280,"wires":[["9c845b14.a06a88","39611397.d5148c","2b0f6296.918c5e"]]},{"id":"abf1a834.2ca0f8","type":"addFirebase","z":"cc532e65.c7b7a","firebaseCertificate":"b50d2cf2.8a45b","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"push","newchildpath":"","x":630,"y":240,"wires":[[]]},{"id":"9c845b14.a06a88","type":"function","z":"cc532e65.c7b7a","name":"convert 124","func":"const data_124 = msg.payload.result_124\nmsg.payload = data_124 ? {\n    category: data_124.category,\n    ts: data_124.ts,\n    value: data_124.value.temperature\n} : null\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":380,"wires":[["5c4e07d9.7c6a98"]]},{"id":"2b0f6296.918c5e","type":"function","z":"cc532e65.c7b7a","name":"convert 125","func":"const data_125 = msg.payload.result_125\nmsg.payload = data_125 ? {\n    category: data_125.category,\n    ts: data_125.ts,\n    value: data_125.value.temperature\n} : null\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":240,"wires":[["abf1a834.2ca0f8"]]},{"id":"22861a88.a2f176","type":"function","z":"8b5f2705.5e97a8","name":"temperature","func":"const data_125 = msg.payload.temperature\nmsg.payload = data_125 ? {\n    category: data_125.category,\n    ts: data_125.ts,\n    value: data_125.value\n} : null\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":220,"wires":[["9ad81192.c3e1f"]]},{"id":"a15b1627.c6c4a8","type":"debug","z":"8b5f2705.5e97a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":120,"wires":[]},{"id":"d0400ebd.26cec","type":"obniz-repeat","z":"8b5f2705.5e97a8","obniz":"d9b01dc.ec573e","name":"Obniz","interval":"1000","code":"msg.payload = {\r\n  temperature:\r\n    obnizParts.result_125 != undefined\r\n      ? {\r\n          category: \"temperature\",\r\n          ts: obnizParts.result_125[obnizParts.result_125.length - 1],\r\n          value: obnizParts.getData(obnizParts.result_125).temperature,\r\n        }\r\n      : null,\r\n\r\n  relative_humidity:\r\n    obnizParts.result_125 != undefined\r\n      ? {\r\n          category: \"relative_humidity\",\r\n          ts: obnizParts.result_125[obnizParts.result_125.length - 1],\r\n          value: obnizParts.getData(obnizParts.result_125).relative_humidity,\r\n        }\r\n      : null,\r\n\r\n  light:\r\n    obnizParts.result_125 != undefined\r\n      ? {\r\n          category: \"light\",\r\n          ts: obnizParts.result_125[obnizParts.result_125.length - 1],\r\n          value: obnizParts.getData(obnizParts.result_125).light,\r\n        }\r\n      : null,\r\n\r\n  uv_index:\r\n    obnizParts.result_125 != undefined\r\n      ? {\r\n          category: \"uv_index\",\r\n          ts: obnizParts.result_125[obnizParts.result_125.length - 1],\r\n          value: obnizParts.getData(obnizParts.result_125).uv_index,\r\n        }\r\n      : null,\r\n\r\n  barometric_pressure:\r\n    obnizParts.result_125 != undefined\r\n      ? {\r\n          category: \"barometric_pressure\",\r\n          ts: obnizParts.result_125[obnizParts.result_125.length - 1],\r\n          value: obnizParts.getData(obnizParts.result_125).barometric_pressure,\r\n        }\r\n      : null,\r\n\r\n  soud_noise:\r\n    obnizParts.result_125 != undefined\r\n      ? {\r\n          category: \"soud_noise\",\r\n          ts: obnizParts.result_125[obnizParts.result_125.length - 1],\r\n          value: obnizParts.getData(obnizParts.result_125).soud_noise,\r\n        }\r\n      : null,\r\n  discomfort_index:\r\n    obnizParts.result_125 != undefined\r\n      ? {\r\n          category: \"discomfort_index\",\r\n          ts: obnizParts.result_125[obnizParts.result_125.length - 1],\r\n          value: obnizParts.getData(obnizParts.result_125).discomfort_index,\r\n        }\r\n      : null,\r\n\r\n  heatstroke_risk_factor:\r\n    obnizParts.result_125 != undefined\r\n      ? {\r\n          category: \"heatstroke_risk_factor\",\r\n          ts: obnizParts.result_125[obnizParts.result_125.length - 1],\r\n          value: obnizParts.getData(obnizParts.result_125)\r\n            .heatstroke_risk_factor,\r\n        }\r\n      : null,\r\n};\r\n\r\nreturn msg;\r\n","x":50,"y":440,"wires":[["a15b1627.c6c4a8","22861a88.a2f176","9a8939c4.f6a658","877ca4ec.ccb2c8","d1d7121b.d0e31","3a25bd30.6cb6b2","83aab4ff.abcab8","b4bcc0d.5608c4","3dbc4a92.f7b1f6"]]},{"id":"9a8939c4.f6a658","type":"function","z":"8b5f2705.5e97a8","name":"relative_humidity","func":"const data_125 = msg.payload.relative_humidity\nmsg.payload = data_125 ? {\n    category: \"humidity\",\n    ts: data_125.ts,\n    value: data_125.value\n} : null\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":300,"wires":[["6b4c1d4d.945764"]]},{"id":"877ca4ec.ccb2c8","type":"function","z":"8b5f2705.5e97a8","name":"light","func":"const data_125 = msg.payload.light\nmsg.payload = data_125 ? {\n    category: data_125.category,\n    ts: data_125.ts,\n    value: data_125.value\n} : null\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":380,"wires":[[]]},{"id":"d1d7121b.d0e31","type":"function","z":"8b5f2705.5e97a8","name":"uv_index","func":"const data_125 = msg.payload.relative_humidity\nmsg.payload = data_125 ? {\n    category: data_125.category,\n    ts: data_125.ts,\n    value: data_125.value\n} : null\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":440,"wires":[[]]},{"id":"3a25bd30.6cb6b2","type":"function","z":"8b5f2705.5e97a8","name":"barometric_pressure","func":"const data_125 = msg.payload.barometric_pressure\nmsg.payload = data_125 ? {\n    category: data_125.category,\n    ts: data_125.ts,\n    value: data_125.value\n} : null\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":520,"wires":[[]]},{"id":"83aab4ff.abcab8","type":"function","z":"8b5f2705.5e97a8","name":"soud_noise","func":"const data_125 = msg.payload.soud_noise\nmsg.payload = data_125 ? {\n    category: data_125.category,\n    ts: data_125.ts,\n    value: data_125.value\n} : null\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":600,"wires":[[]]},{"id":"b4bcc0d.5608c4","type":"function","z":"8b5f2705.5e97a8","name":"discomfort_index","func":"const data_125 = msg.payload.discomfort_index\nmsg.payload = data_125 ? {\n    category: data_125.category,\n    ts: data_125.ts,\n    value: data_125.value\n} : null\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":660,"wires":[[]]},{"id":"3dbc4a92.f7b1f6","type":"function","z":"8b5f2705.5e97a8","name":"heatstroke_risk_factor","func":"const data_125 = msg.payload.heatstroke_risk_factor\nmsg.payload = data_125 ? {\n    category: data_125.category,\n    ts: data_125.ts,\n    value: data_125.value\n} : null\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":740,"wires":[[]]},{"id":"9ad81192.c3e1f","type":"addFirebase","z":"8b5f2705.5e97a8","firebaseCertificate":"80450f8d.20a2c","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"push","newchildpath":"","x":1090,"y":220,"wires":[[]]},{"id":"6b4c1d4d.945764","type":"addFirebase","z":"8b5f2705.5e97a8","firebaseCertificate":"80450f8d.20a2c","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"push","newchildpath":"","x":1090,"y":300,"wires":[[]]},{"id":"fa48cf5.6a7a43","type":"addFirebase","z":"8b5f2705.5e97a8","firebaseCertificate":"80450f8d.20a2c","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"push","newchildpath":"","x":1090,"y":380,"wires":[[]]},{"id":"b03e3c4d.7674f","type":"addFirebase","z":"8b5f2705.5e97a8","firebaseCertificate":"80450f8d.20a2c","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"push","newchildpath":"","x":1090,"y":440,"wires":[[]]},{"id":"ab61e82a.4aacf8","type":"addFirebase","z":"8b5f2705.5e97a8","firebaseCertificate":"80450f8d.20a2c","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"push","newchildpath":"","x":1090,"y":520,"wires":[[]]},{"id":"20080277.8faf1e","type":"addFirebase","z":"8b5f2705.5e97a8","firebaseCertificate":"80450f8d.20a2c","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"push","newchildpath":"","x":1090,"y":600,"wires":[[]]},{"id":"5f00cba9.73c7c4","type":"addFirebase","z":"8b5f2705.5e97a8","firebaseCertificate":"80450f8d.20a2c","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"push","newchildpath":"","x":1090,"y":660,"wires":[[]]},{"id":"f412eb0.4309018","type":"addFirebase","z":"8b5f2705.5e97a8","firebaseCertificate":"80450f8d.20a2c","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"push","newchildpath":"","x":1090,"y":740,"wires":[[]]},{"id":"57eb89a.aee6e78","type":"debug","z":"cc532e65.c7b7a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":420,"wires":[]},{"id":"39611397.d5148c","type":"debug","z":"cc532e65.c7b7a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":190,"y":500,"wires":[]},{"id":"f6b5248c.c06a68","type":"function","z":"652e38ef.a8e868","name":"temperature","func":"const data_125 = msg.payload.temperature\nmsg.payload = data_125 ? {\n    DeviceName: data_125.category,\n    Place: data_125.category,\n    ts: data_125.ts,\n    temperature: data_125.value\n} : null\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":180,"wires":[["23d3d02b.017c08"]]},{"id":"380f2b5d.fee0a4","type":"debug","z":"652e38ef.a8e868","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":80,"wires":[]},{"id":"68cae0ac.599a18","type":"obniz-repeat","z":"652e38ef.a8e868","obniz":"5c372d8b.9674f4","name":"Obniz","interval":"1000","code":"msg.payload = {\r\n  temperature:\r\n    obnizParts.result_125 != undefined\r\n      ? {\r\n          category: \"temperature\",\r\n          ts: obnizParts.result_125[obnizParts.result_125.length - 1],\r\n          value: obnizParts.getData(obnizParts.result_125).temperature,\r\n        }\r\n      : null,\r\n\r\n  relative_humidity:\r\n    obnizParts.result_125 != undefined\r\n      ? {\r\n          category: \"relative_humidity\",\r\n          ts: obnizParts.result_125[obnizParts.result_125.length - 1],\r\n          value: obnizParts.getData(obnizParts.result_125).relative_humidity,\r\n        }\r\n      : null,\r\n\r\n  light:\r\n    obnizParts.result_125 != undefined\r\n      ? {\r\n          category: \"light\",\r\n          ts: obnizParts.result_125[obnizParts.result_125.length - 1],\r\n          value: obnizParts.getData(obnizParts.result_125).light,\r\n        }\r\n      : null,\r\n\r\n  uv_index:\r\n    obnizParts.result_125 != undefined\r\n      ? {\r\n          category: \"uv_index\",\r\n          ts: obnizParts.result_125[obnizParts.result_125.length - 1],\r\n          value: obnizParts.getData(obnizParts.result_125).uv_index,\r\n        }\r\n      : null,\r\n\r\n  barometric_pressure:\r\n    obnizParts.result_125 != undefined\r\n      ? {\r\n          category: \"barometric_pressure\",\r\n          ts: obnizParts.result_125[obnizParts.result_125.length - 1],\r\n          value: obnizParts.getData(obnizParts.result_125).barometric_pressure,\r\n        }\r\n      : null,\r\n\r\n  soud_noise:\r\n    obnizParts.result_125 != undefined\r\n      ? {\r\n          category: \"soud_noise\",\r\n          ts: obnizParts.result_125[obnizParts.result_125.length - 1],\r\n          value: obnizParts.getData(obnizParts.result_125).soud_noise,\r\n        }\r\n      : null,\r\n  discomfort_index:\r\n    obnizParts.result_125 != undefined\r\n      ? {\r\n          category: \"discomfort_index\",\r\n          ts: obnizParts.result_125[obnizParts.result_125.length - 1],\r\n          value: obnizParts.getData(obnizParts.result_125).discomfort_index,\r\n        }\r\n      : null,\r\n\r\n  heatstroke_risk_factor:\r\n    obnizParts.result_125 != undefined\r\n      ? {\r\n          category: \"heatstroke_risk_factor\",\r\n          ts: obnizParts.result_125[obnizParts.result_125.length - 1],\r\n          value: obnizParts.getData(obnizParts.result_125)\r\n            .heatstroke_risk_factor,\r\n        }\r\n      : null,\r\n};\r\n\r\nreturn msg;\r\n","x":110,"y":380,"wires":[["380f2b5d.fee0a4","f6b5248c.c06a68","5ffe139e.1a260c","2db6fd0d.f6fcba","9ef0e0cd.faa778","db808c4a.c20318","858df7d3.f89768","cf07abcc.98079","2a32fee8.a259c2"]]},{"id":"5ffe139e.1a260c","type":"function","z":"652e38ef.a8e868","name":"light","func":"const data_125 = msg.payload.light\nmsg.payload = data_125 ? {\n    DeviceName: data_125.category,\n    Place: data_125.category,\n    ts: data_125.ts,\n    light: data_125.value\n} : null\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":340,"wires":[["a0ca8660.5ba118"]]},{"id":"2db6fd0d.f6fcba","type":"function","z":"652e38ef.a8e868","name":"uv_index","func":"const data_125 = msg.payload.uv_index\nmsg.payload = data_125 ? {\n    DeviceName: data_125.category,\n    Place: data_125.category,\n    ts: data_125.ts,\n    uv_index: data_125.value\n} : null\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":400,"wires":[["912ceb64.bf2df"]]},{"id":"9ef0e0cd.faa778","type":"function","z":"652e38ef.a8e868","name":"barometric_pressure","func":"const data_125 = msg.payload.barometric_pressure\nmsg.payload = data_125 ? {\n    category: data_125.category,\n    ts: data_125.ts,\n    value: data_125.value\n} : null\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":480,"wires":[[]]},{"id":"db808c4a.c20318","type":"function","z":"652e38ef.a8e868","name":"soud_noise","func":"const data_125 = msg.payload.soud_noise\nmsg.payload = data_125 ? {\n    category: data_125.category,\n    ts: data_125.ts,\n    value: data_125.value\n} : null\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":560,"wires":[[]]},{"id":"858df7d3.f89768","type":"function","z":"652e38ef.a8e868","name":"discomfort_index","func":"const data_125 = msg.payload.discomfort_index\nmsg.payload = data_125 ? {\n    category: data_125.category,\n    ts: data_125.ts,\n    value: data_125.value\n} : null\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":620,"wires":[[]]},{"id":"cf07abcc.98079","type":"function","z":"652e38ef.a8e868","name":"heatstroke_risk_factor","func":"const data_125 = msg.payload.heatstroke_risk_factor\nmsg.payload = data_125 ? {\n    category: data_125.category,\n    ts: data_125.ts,\n    value: data_125.value\n} : null\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":700,"wires":[[]]},{"id":"23d3d02b.017c08","type":"addFirebase","z":"652e38ef.a8e868","firebaseCertificate":"80450f8d.20a2c","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"push","newchildpath":"","x":1150,"y":180,"wires":[[]]},{"id":"a837d34f.9b6d3","type":"addFirebase","z":"652e38ef.a8e868","firebaseCertificate":"80450f8d.20a2c","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"push","newchildpath":"","x":1150,"y":260,"wires":[[]]},{"id":"a0ca8660.5ba118","type":"addFirebase","z":"652e38ef.a8e868","firebaseCertificate":"80450f8d.20a2c","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"push","newchildpath":"","x":1150,"y":340,"wires":[[]]},{"id":"912ceb64.bf2df","type":"addFirebase","z":"652e38ef.a8e868","firebaseCertificate":"80450f8d.20a2c","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"push","newchildpath":"","x":1150,"y":400,"wires":[[]]},{"id":"21567f51.dbdbb","type":"addFirebase","z":"652e38ef.a8e868","firebaseCertificate":"80450f8d.20a2c","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"push","newchildpath":"","x":1150,"y":480,"wires":[[]]},{"id":"df0983aa.136988","type":"addFirebase","z":"652e38ef.a8e868","firebaseCertificate":"80450f8d.20a2c","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"push","newchildpath":"","x":1150,"y":560,"wires":[[]]},{"id":"64980025.d6245","type":"addFirebase","z":"652e38ef.a8e868","firebaseCertificate":"80450f8d.20a2c","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"push","newchildpath":"","x":1150,"y":620,"wires":[[]]},{"id":"fa302e02.516968","type":"addFirebase","z":"652e38ef.a8e868","firebaseCertificate":"80450f8d.20a2c","client_email":"","private_key":"","data":"","childpath":"","propertyType":"str","method":"push","newchildpath":"","x":1150,"y":700,"wires":[[]]},{"id":"2a32fee8.a259c2","type":"function","z":"652e38ef.a8e868","name":"relative_humidity","func":"const data_125 = msg.payload.relative_humidity\nmsg.payload = data_125 ? {\n    DeviceName: data_125.category,\n    Place: data_125.category,\n    ts: data_125.ts,\n    humidity: data_125.value\n} : null\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":260,"wires":[["a837d34f.9b6d3"]]}]